*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
@media screen and (max-width:850px) {
	



.container{

	height:95vh;
	width:100vw;
	background-color:pink;
 	display:flex;
	align-items:flex-end;
	justify-content:center;
  	flex-direction:column;


}

textarea{
	resize:none;
	width:80%;
	height:60px;
        font-size:1.3rem;
}

 .addbtn{

	background-color:black;
	color: white;
	border: none;
	width: 50px;
	height: 60px;

}
.addbtn:hover{
	background-color: green;
	color: #1d1d1d;
}

.inp-container{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items: flex-end;
	width:100%;
	height: 10vh;


	

}

.list-container{
	margin-bottom:0.5rem;
	height:90vh;
	width:380px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;
	
}


.parabox{
	margin-bottom: 0.1rem;
	width:300px;
	height:80px;
	background-color:#1d1d1d;
	color:white;
	border-radius:5px;
	padding:1rem;
	word-break:break-word;
        display:flex;
	justify-content:center;
	align-items: flex-end;

	


}

.delete{

	background-color:#1d1d1d;
	outline:none;
	width:20px;
	height:20px;	
	color:white;
	border:none;
	transition:background-color 0.5s ease;

}
.delete:hover{
	background-color:red;

}

.editbox{

	width:20px;
	height:20px;	
	background-image:url("../penimg.JPG"); 
        background-size:cover;
	border:none;
	transition:border 0.5s ease;
	margin-top:0.2rem;


	
}

.para{

	width:300px;
	height:50px;
	padding:0.2rem;
	font-size:1.2rem;


}
.editbox:hover{
	border:1px solid red;

}


.button-box{
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	width:50px;
	height:50px;
	


}


.burger{
	width: 150px;
	height: 200px;
	background-color:transparent;
	border-radius: 10px 0px 10px 50px;
	display: flex;
	gap: 10px;
	margin: 0.5rem ;
	justify-content: flex-end;
	
	
}
.conbox{
	position: relative;
	width: 55px;
	height: 45px;
}
span{
	position: absolute;
}
.top{
	width: 50px;
	height: 8px;
	background-color:black;
	top: 15px;
	border-radius: 10px;
	transition: transform 0.5s ease;
}	
.middle{
	width: 50px;
	height: 8px;
	background-color: black;
	border-radius: 10px;
	transition: transform 0.5s ease;
}
.bottom{
	width: 50px;
	height: 8px;
	background-color: black;
	bottom:5px;
	border-radius: 10px;
	transition: transform 0.5s ease;
}




::placeholder{
	text-align: center;
	padding-top: 0.3rem;
}

.menu{
	background-color: #1d1d1d;
	

}


.circle1,.circle2,.circle3{
	width: 50px;
	height: 50px;
	background-color: transparent;
	border-radius: 50%;
	visibility: hidden;
}

.circle1{
	transition: transform 0.5s ease;
	
}

.circle2{
	transition: transform 0.5s ease;
}
.circle3{
	transition: transform 0.5s ease;
}






















}


